alabaster==0.7.7
Babel==2.2.0
docutils==0.12
ecdsa==0.13
Fabric==1.10.2
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.0rc1
pandas==0.17.1
paramiko==1.16.0
pluggy==0.3.1
py==1.4.31
pycrypto==2.6.1
Pygments==2.1.3
python-dateutil==2.5.0
pytz==2015.7
requests==2.9.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.6
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==0.1.9
tox==2.3.1
unicodecsv==0.14.1
virtualenv==14.0.6
wheel==0.29.0
